version: "2.1"
services:
    backup_nextcloud:
        build:
            context: .
            dockerfile: Dockerfile-mysql
        image: filament/duplicity:mysql
        hostname: backup-nextcloud
        domainname: "{{ cloud_url }}"
        environment:
            DST: "swift://nextcloud_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: nextcloud
            MYSQL_USER: nextcloud
            MYSQL_PASSWORD: {{ cloud_db_pass }}
            MYSQL_HOST: db
            PASSPHRASE: "{{ cloud_db_pass }}"
            SWIFT_USERNAME: "{{ swift_cloud_username }}"
            SWIFT_PASSWORD: "{{ swift_cloud_password }}"
            SWIFT_AUTHURL: "{{ swift_cloud_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_cloud_authversion }}
            SWIFT_TENANTNAME: "{{ swift_cloud_tenantname }}"
            SWIFT_TENANTID: "{{ swift_cloud_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_cloud_regionname }}"
            JOB_200_WHEN: "weekly"
            JOB_300_WHAT: "backup --full-if-older-than 1D"
            JOB_300_WHEN: "weekly"
            JOB_302_WHAT: "dup remove-all-but-n-full 4 --force $$DST $$@"
            JOB_302_WHEN: "weekly"
            JOB_700_WHEN: "weekly"
        volumes:
            - nextcloud_nextcloud:/mnt/backup/src/nextcloud:z
        networks:
            - nextcloud_default
            - public
        command:
            - /etc/periodic/weekly/jobrunner

networks:
    nextcloud_default:
        driver_opts:
            encrypted: 1
        external: true
    public:
        driver_opts:
            encrypted: 1

volumes:
    nextcloud_nextcloud:
        external: true
